USE [master]
GO
/****** Object:  Database [QuanLyKhachSan]    Script Date: 4/13/2022 10:20:59 PM ******/
CREATE DATABASE [QuanLyKhachSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKhachSan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyKhachSan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKhachSan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyKhachSan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhachSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [QuanLyKhachSan]
GO
/****** Object:  Table [dbo].[ChiTietThuePhong]    Script Date: 4/13/2022 10:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietThuePhong](
	[maPhong] [nvarchar](30) NULL,
	[maKh] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/13/2022 10:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[makh] [nvarchar](30) NOT NULL,
	[tenkh] [nvarchar](30) NULL,
	[CMND] [nvarchar](30) NULL,
	[diachi] [nvarchar](30) NULL,
	[sdt] [nvarchar](30) NULL,
	[gioitinh] [bit] NULL,
	[tuoi] [int] NULL,
	[email] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 4/13/2022 10:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[tenLoaiPhong] [nvarchar](20) NOT NULL,
	[gia] [float] NULL,
	[mota] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[tenLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 4/13/2022 10:20:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[maPhong] [nvarchar](30) NOT NULL,
	[tangPhong] [nvarchar](30) NULL,
	[maLoaiPhong] [nvarchar](20) NULL,
	[trangThai] [bit] NULL,
	[ghiChu] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KhachHang] ([makh], [tenkh], [CMND], [diachi], [sdt], [gioitinh], [tuoi], [email]) VALUES (N'1223', N'lyphiminh ', N'1223', N'123', N'123123', 1, 14, N'123')
INSERT [dbo].[KhachHang] ([makh], [tenkh], [CMND], [diachi], [sdt], [gioitinh], [tuoi], [email]) VALUES (N'123123', N'12312 ', N'123123', N'123', N'123', 1, 212312, N'123123')
GO
INSERT [dbo].[LoaiPhong] ([tenLoaiPhong], [gia], [mota]) VALUES (N'Cao Cấp', 500, N'Điều hoà,')
INSERT [dbo].[LoaiPhong] ([tenLoaiPhong], [gia], [mota]) VALUES (N'Tiêu Chuẩn', 500, N'Quạt')
GO
INSERT [dbo].[Phong] ([maPhong], [tangPhong], [maLoaiPhong], [trangThai], [ghiChu]) VALUES (N'1', N'1', N'Cao Cấp', 0, N'1')
INSERT [dbo].[Phong] ([maPhong], [tangPhong], [maLoaiPhong], [trangThai], [ghiChu]) VALUES (N'10', N'1', N'Cao Cấp', 1, N'1')
INSERT [dbo].[Phong] ([maPhong], [tangPhong], [maLoaiPhong], [trangThai], [ghiChu]) VALUES (N'3', N'1', N'Cao Cấp', 0, N'')
GO
ALTER TABLE [dbo].[ChiTietThuePhong]  WITH CHECK ADD  CONSTRAINT [fk_maKh] FOREIGN KEY([maKh])
REFERENCES [dbo].[KhachHang] ([makh])
GO
ALTER TABLE [dbo].[ChiTietThuePhong] CHECK CONSTRAINT [fk_maKh]
GO
ALTER TABLE [dbo].[ChiTietThuePhong]  WITH CHECK ADD  CONSTRAINT [fk_maPHong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[ChiTietThuePhong] CHECK CONSTRAINT [fk_maPHong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [fk_Phong] FOREIGN KEY([maLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([tenLoaiPhong])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [fk_Phong]
GO
USE [master]
GO
